nav {
  background-color: #90FFDC;
  font-family: 'Julius Sans One', sans-serif;
  padding: 15px;

}

nav ul li {
  display:inline-block;
}

nav ul {
  margin: 0 auto;
  text-align: center;
}

nav a {
  text-decoration: none;
  padding: 10px;
  font-size: 150%;
  font-weight: 600;
  color: #7cb0e5;
  }

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-weight: bold;
  text-align: center;
  margin: 20px 25%;

  color: #7A7978;
}

.authorinfo {
  color: #808080;
  margin-left: 25%;
  margin-right: 25%;
}

h2 {
  font-family: 'Cormorant Garamond', serif;
  margin-left: 25%;
  margin-right: 25%;
  font-size: 150%;
  font-style: bold;
}

.bodytext {
  font-family: 'Open Sans', sans-serif;
  margin-left: 25%;
  margin-right: 25%;

}

.related {
  text-align: center;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 1.5em;
}



footer {
  text-align: center;
  padding-top: 1em;
}

/*
.float-left-area  {
      width: 70%;
      float: left;
      }

.float-right-area {
      width: 30%;
      float: left;
      }

.inner-left   {
      padding: 5px 5px 5px 5px;
      margin-right: 10px;
      border: #999999 1px solid;
      min-height: 60px;
      }

.inner-right    {
      font-size: 11px;
      padding: 5px 5px 5px 5px;
      border: #999999 1px solid;
      min-height: 60px;
      }

.clear-floated    { clear: both; height: 1px; font-size: 1px; line-height: 1px; padding: 0; margin: 0; }
*/

